body{
	background-color: #F1F1F1;
}

.container {
	background-color: $white;
	box-sizing: content-box;
	max-width: 1510px;
	padding: 0 70px;
	margin: 0 auto;
}

/* ======================================================================= */

.btn {
	padding: 13px 27px;
	@include montserrat(400,20px,24px);
	text-transform: uppercase;
	background-color: $black;
	border: 1px solid $white;
	color: $white;
	&:hover{
		color: $gold;
		background-color: $white;
		border: $gold 1px solid;
	}
}

/* ======================================================================= */

.ibg{
	position: relative;
}

.ibg img{
	position: absolute;
	object-fit: cover;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

/* ======MEDIA================================================================= */

@media(max-width: 1200px) {
	.btn{
		padding: 10px 12px;
		font-size: 12px;
	}
}

@media(max-width: 768px) {
	.btn{
		display: none;
	}
	.container{
		padding: 0 0;
	}
}
