body{
	font-family: montserrat, sans-serif;
	background-color: #F1F1F1;
	letter-spacing: 0.05em;
	overflow-x: hidden;
}

main{
	padding-bottom: 10px;
	margin-bottom: 45px;
	margin-top: -58px;
}

.container {
	background-color: $white;
	box-sizing: content-box;
	position: relative; // отображение поверх greeting
	margin: 0 auto;
	z-index: 3;
	width: 87%;
}

/* ======================================================================= */

.btn {
	padding: 13px 27px;
	@include montserrat(400,20px,24px);
	text-transform: uppercase;
	background-color: $black;
	border: 1px solid $white;
	color: $white;
	&:hover{
		color: $gold;
		background-color: $white;
		border: $gold 1px solid;
	}
}

/* ======================================================================= */

.ibg{
	position: relative;
}

.ibg img{
	position: absolute;
	object-fit: cover;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

/* ======================================================================= */

.background-image{
	display: none;
	position: absolute;
	min-height: 489px;
	width: 110%;
	top: 60px;
	right: 0;
	z-index: 0;
}

/* ======================================================================= */

.title{
	@include fw_fz_lh (400,40px,49px);
	text-transform: uppercase;	
	margin-bottom: 60px;
	color: $gold;
}

/* ======MEDIA================================================================= */

@media(max-width: 1200px) {
	.container{
		width: 95%;
	}

	.btn{
		padding: 10px 12px;
		font-size: 12px;
	}
}

@media(max-width: 768px) {
	
	main{ // убираю оступ до футера
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.btn{
		display: none;
	}
	.container{
		padding: 0 0;
		width: 100%;
	}

	.title{
		margin-bottom: 30px;
		line-height: 30px;
		font-size: 30px;
	}
}
