body {
	height: 100%;

	background-color: #F1F1F1;

	font-size: 18px;
	font-family: Montserrat;
}

a {
	text-decoration: none;
	color: inherit;
}


/* ======================================================================= */

.wrapper {
	min-height: 100%;

	overflow-x: hidden;
	
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
}


/* ======ОБЩЕЕ================================================================= */

.container {
	max-width: 1510px;
	padding: 0 70px;	
	background-color: #fff;
	box-sizing: border-box;

	/* Чтобы фоновое изображение было сзади */
	position: relative;
	z-index: 2;

	margin: 0 100px;
}

@media(min-width: 1708px) {
	.container{
		margin: 0 auto;
	}
	
}

@media(max-width: 1180px) {
	.container{
		margin: 0 auto;
	}
}



.container-header{
	max-width: 1510px;
	margin: 0 auto;
	padding: 0 70px;	
	box-sizing: border-box;

	margin: 0 100px;
}

@media(min-width: 1708px) {
	.container-header{
		margin: 0 auto;
	}
	
}

@media(max-width: 1180px) {
	.container-header{
		margin: 0 auto;
	}
}



@media(max-width: 626px) {
	.container{
		padding: 0 20px;
	}
	
}


.ibg {
	position: relative;
}

.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	object-fit: cover;
}

.title{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: 0.05em;

	color: #E0C66E;

}

/* ====HEADER=================================================================== */

.header {
	background-color: black;
}

.header__container {
	padding: 0 15px;
	box-sizing: content-box;

	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 94px;

	color: white;
}


@media(max-width: 1080px) {
	.header__container {
		min-height: 70px;
	}

}


@media(max-width: 840px) {
	.header__container {
		justify-content: center;
	}
}

.border-button {
	padding: 13px 27px;

	font-size: 20px;
	text-transform: uppercase;

	border: 1px solid white;
}

.border-button:hover{
	color: #E0C66E;
	background-color: #fff;
	border: #E0C66E 1px solid;
	box-sizing: content-box;
	/* Чтобы контент div не дёргался при наведении */
	margin-top: -1px;
}

@media(max-width: 1240px) {
	.border-button {
		font-size: 14px;
		padding: 10px 25px;
	}
}

@media(max-width: 840px) {
	.border-button {
		display: none;
	}
}

.menu__list {
	display: flex;
}


.menu__item {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	position: relative;

}

.menu__item:hover:after {
	content: "";
	height: 1px;
	width: 100%;
	background-color: #fff;

	position: absolute;
	top: 125%;
	left: 0;
}

.menu__item:nth-child(4):after {
	content: "";
	height: 1px;
	width: 100%;
	background-color: #fff;

	position: absolute;
	top: 125%;
	left: 0;
}


@media(max-width: 1080px) {
	.menu__item {
		font-size: 14px;
		line-height: 18px;
	}
}


.menu__item:not(:last-child) {
	margin-right: 40px;
}



/* ======GREETING================================================================= */

.greeting {
	position: relative;

	
	font-family: 'Yeseva One';
	font-style: normal;
	text-transform: uppercase;
	color: #fff;
}

.greeting__body {
	position: relative;
	z-index: 2;
	text-align: center;
	padding: 114px 0 94px;
}

@media(max-width: 1112px) {
	.greeting__body {
		padding-top:90px ;
	}

}

@media(max-width: 779px) {
	.greeting__body {
		padding-top:60px ;
	}
}

@media(max-width: 626px) {
	.greeting__body {
		padding-top:30px ;
	}
}

.greeting__title {
	font-weight: 400;
	font-size: 150px;
	line-height: 173px;
	letter-spacing: 0.085em;

	margin-bottom: 22px;
}


@media(max-width: 1112px) {
	.greeting__title {
		line-height:150px ;
	}

}

@media(max-width: 779px) {
	.greeting__title {
		line-height:120px ;
	}
}

@media(max-width: 626px) {
	.greeting__title {
		line-height:90px ;
	}
}


@media(max-width: 1112px) {
	.greeting__title {
		font-size: 100px;
	}

}

@media(max-width: 779px) {
	.greeting__title {
		font-size: 75px;
	}
}

@media(max-width: 626px) {
	.greeting__title {
		font-size: 58px;
	}
}


.greeting__subtitle {
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;

	margin: 0 auto;
	max-width: 543px;
	letter-spacing: 0.05em;
	position: relative;

}


.greeting__subtitle::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;

	width: 100px;
	height: 100px;

	background-repeat: no-repeat;

	background-image: url('/assets/images/welcome/stars.svg');

	background-size: 104px 30px;
}


.greeting__subtitle::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;

	width: 100px;
	height: 100px;

	background-repeat: no-repeat;

	background-image: url('/assets/images/welcome/stars.svg');

	background-size: 104px 30px;
}

@media(max-width: 671px) {

	.greeting__subtitle {
		font-size: 20px;
		max-width: 384px;
	}

	.greeting__subtitle::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;


		background-repeat: no-repeat;

		background-image: url('/assets/images/welcome/stars.svg');

		background-size: 65px 30px;
	}


	.greeting__subtitle::after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;

		width: 65px;
		background-repeat: no-repeat;

		background-image: url('/assets/images/welcome/stars.svg');

		background-size: 65px 30px
	}
}

.greeting__image {
	min-height: 433px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

/* =====КОНТАКТЫ================================================================== */ 

.contacts{
	position: relative;

	margin-bottom: 59px;
}
.contacts__wraper{
	margin-top: -58px;
	padding-top: 58px;
}
.contacts__body {
	display: flex;
	justify-content: space-between;
	padding: 0 60px 42px;

}

@media(max-width: 1355px) {

	.contacts__body{
		flex-wrap: wrap;
		justify-content: center;
	}

}


.contacts__title {
	text-align: center;

	padding-bottom: 55px;
}

.contacts__text-block {
	padding-top: 69px;
	margin-right: 106px;
}

@media(max-width: 1355px) {
	.contacts__text-block {
		text-align: center;
		margin-right: 0;
		padding-top: 0;
	}

}


.contacts__text-block>*:not(:last-child){
	margin-bottom: 60px;
}

.contacts__text-block>:last-child{
	margin-bottom: 78px;
}

.contacts__text {
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	padding-left: 74px;
	color: #000000;
}
.contacts__map-block {
	width: 600px;
	height: 396px;
}

@media(max-width: 740px) {
	.contacts__map-block{
		position: relative;
		
	}

	.contacts__map-block img{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	
}



.contacts__background-image{
	min-height: 469px;
	position: absolute;
	width: 102%;
	top: 124px;
	right: 0;
	z-index: 1;
}


.contacts__text-phone {
	position: relative;
}

.contacts__text-phone::before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;

	width: 100%;
	height: 100%;

	background-repeat: no-repeat;

	background-image: url('/assets/images/contacts/phone_icon.png');

	background-size: 47px 47px;
}

.contacts__text-email {
	position: relative;
}

.contacts__text-email::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 115%;

	background-repeat: no-repeat;

	background-image: url('/assets/images/contacts/mail_icon.png');

	background-size: 47px 47px;
}

.contacts__text-map {
	position: relative;
	padding-top: 12px;
}

@media(max-width: 740px) {
	.contacts__text-map{
		padding-top: 0;
	}
	
}


.contacts__text-map::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 214%;

	background-repeat: no-repeat;

	background-image: url('/assets/images/contacts/map_icon.png');

	background-size: 47px 47px;
}

@media(max-width: 500px) {
	.contacts__text-phone::before {display: none;}
	.contacts__text-email::before {display: none;}
	.contacts__text-map::before {display: none;}
}


@media(max-width: 500px) {
	.contacts__text{
		padding-left: 0;
	}
}

/* ======FOOTER================================================================= */

.footer__copyright{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.05em;
}


@media(max-width: 840px) {
	.footer__container {
		justify-content: left;
	}

}