.header {
	background-color: $black;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 94px;
	}

	.container {
		background-color: transparent
	}
}

.menu {
	@include fw_fz_lh(400, 18px, 22px);
	text-transform: uppercase;
	text-decoration: none;
	color: $white;

	& a{
		position: relative;
		color: $white;
	}

	& a:hover:after {
		background-color: $white;
		position: absolute;
		content: "";
		height: 1px;
		width: 100%;
		top: 125%;
		left: 0;
	}

	& a:not(:last-child) {
		margin-right: 40px;
	}

	& a:nth-child(1):after { //подчеркивание элемента меню страницы, на которой нахдоодишься
		content: "";
		height: 1px;
		width: 100%;
		background-color: #fff;
	
		position: absolute;
		top: 125%;
		left: 0;
	}
}

/* ======================================================================= */

@media(max-width: 1200px) {
	.menu {
		& a {
			font-size: 12px;
		}

		& a:not(:last-child) {
			margin-right: 8px;
		}
	}
}

@media(max-width: 768px) {
	.header__body {
		justify-content: center;
		height: 60px;
	}
}