.welcome {

	text-align: center;
	padding: 81px 70px 80px;

	&__content{
		position: relative;
		border: 1px $gold solid;
		text-align: left;
		padding: 40px; 
		z-index: 3;
	}

	&__subtitle {
		@include yeseva(400,32px,37px);
		margin-bottom: 40px;
	}

	&__info {
		@include fw_fz_lh(400,16px,32px);
		padding-right: 450px; // Освобождения места для картинки
		margin-bottom: 26px;
 	}

	& .btn{
		padding: 14px 57px;
	}

	&__image-reception{
		position: absolute;
		right: -180px;
		top: -100px;
	}
}

/* ======================================================================= */

@media(max-width: 1200px) {
	.welcome{

		&__image-reception{
			top: 40px;
			right: -250px;
		}

		&__image-reception img{
			width: 50%;
		}
	
		&__info{
			padding-right: 260px;
		}	

		&__subtitle{
			padding-right: 230px;
		}
	}
}

@media(max-width: 768px) {
	.welcome{

		padding: 30px 10px;

		&__content{
			padding: 20px;
		}
		
		&__text-block{
			text-align: center;
		}

		&__image-reception{
			display: none;
		}
	
		&__info{
			padding-right: 0;
		}	

		&__subtitle{
			padding-right: 0;
		}

		& .btn{
			display: block; // отмена стиля из base.scss
			margin: 0 auto;
		}
	}
}
