*,
a {
  font-family: Larsseit;
  color: #22356f;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  margin: auto;
  padding: 0 179px;
  font-family: Larsseit;
  font-size: 20px;
  line-height: 16px;
}

.flex {
  display: flex;
  align-items: center;
}

/* ---------HEADER--------------------------------------- */

header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 179px;
  padding-top: 27px;
  z-index: 10;
}

.header-wrapper {
  justify-content: space-between;
}

.header__title {
  font-family: LarsseitBold;
  font-size: 24px;
  color: #62d0df;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 233px;
  font-size: 14px;
}

.navigation__item {
  position: relative;
  text-decoration: none;
}

.navigation__item:hover:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #22356f;

  position: absolute;
  top: 100%;
  left: 0;
}

.nav__contact-button {
  border-radius: 50px;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #62d0df;
  border-color: transparent;
  font-family: Larsseit;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

  transition: background-color 0.2s linear;
}

.nav__contact-button:hover {
  background-color: #138796;
}

/* ---------FIRST SECTION---------------------------*/

/* ----Left-side------------------ */

.left-side {
  position: relative;
  background-color: #f4f9e2;
  width: 1150px;
  height: 850px;
  padding-left: 179px;
}

.header__title_positioned {
  position: absolute;
  top: 241px;
}

.headder__appeal {
  position: absolute;
  top: 305px;
  /* ????? */
  font-family: Larsseit;
  font-style: 800;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.035em;
}

.header__descr {
  position: absolute;
  top: 491px;
  width: 469px;
  font-size: 24px;
  line-height: 45px;
}

.header__button {
  position: absolute;
  top: 715px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 150px;
  height: 50px;
  background-color: #f9b640;
  line-height: 50px;
  color: white;

  transition: background-color 0.2s linear;
}

.header__button:hover {
  background-color: #eecb8e;
}

.header__button-descr {
  position: absolute;
  top: 715px;
  left: 367px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #f9b640;

  transition: background-color 0.2s linear;
  transition: color 0.2s linear;
}

.header__button-descr:hover {
  background-color: #eecb8e;
  color: white;
}

.first__image{
  position: absolute;
  right: 0;
  top: 0;
}

/* ---------SECOND SECTION---------------------------*/

.second {
  display: flex;
  background-color: #62d0df;
  width: 1519px;
}

.second-wrapper {
  padding: 151px 179px;
  padding-bottom: 95px;
}

.white {
  color: white;
}
.second__title {
  margin-bottom: 86px;
  font: bold 36px Larsseit;
}

.second__text {
  width: 555px;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0.025em;
}
.second__text.bold {
  font-weight: 600;
  font-size: 24px;
}
.second__image {
  margin-left: auto;
  margin-right: 0em;
}

/* ---------THIRD SECTION---------------------------*/

.third {
  position: relative;
  background-color: white;
  height: 962px;
  padding: 153px 106px;
  width: 1519px;
}

.third-wrapper {
  display: inline-flex;
}

.third__title {
  font-size: 16px;
  text-transform: uppercase;
}

.third__text {
  margin-left: 258px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.005em;
  width: 592px;
}

.third-footer__text {
  position: absolute;
  top: 400px;
  left: 629px;
  font-style: normal;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgba(34, 53, 111, 0.5);
}

.plates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 125px;
  margin-left: -106px;
}

.plates__item {
  position: relative;
  width: 380px;
  height: 380px;
  padding-top: 95px;
  padding-left: 75px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 29px;
  letter-spacing: -0.006em;
  color: #ffffff;
}

.plates__item_first {
  background-color: #ffe2de;
}

.plates__item_second {
  background-color: #c4e769;
}

.plates__item_third {
  background-color: #62d0df;
}

.plates__item_fourth {
  background-color: #0052c1;
}
.plates__item::before {
  content: "";

  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #e9b730;

  position: absolute;
  top: 105px;
  left: 50px;
}

.plates__item::after {
  content: "";

  height: 1px;
  width: 255px;
  background-color: white;

  position: absolute;
  top: 70px;
  left: 50px;
}

/* ---------FOURTH SECTION---------------------------*/

.fourth-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.plates__item_fifth {
  background-color: #22356f;
  width: auto;
}
.plates__item_sixth {
  background-color: #0052c1;
  width: auto;
}
.plates__item_seventh {
  background-image: -webkit-image-set(
    url("../images/nutrition.png") 1x,
    url("../images/nutrition@2x.png") 2x
  );
  width: auto;
  /* background-repeat: no-repeat; */
}
.plates__item_eighth {
  background-color: #62d0df;
  width: auto;
}
.plates__item_ninth {
  background-color: #dee1ff;
  width: auto;
}
.plates__item_tenth {
  background-color: #8f00ff;
  width: auto;
}

/* ---------FIFTH SECTION---------------------------*/

.fifth {
  margin-bottom: 40px;
}

.fifth_item {
  padding: 105px 0 0 55px;
  height: 240px;
}

.fifth h2 {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;

  letter-spacing: -0.03em;
}

.fifth__text {
  margin-top: 28px;
  width: 298px;

  font-family: "Larsseit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.03em;

  color: rgba(34, 53, 111, 0.5);
}

/* ---------FIFTH SECTION---------------------------*/

.sixth {
  display: inline-flex;
}

.sixth h2 {
  margin-top: 103px;
  margin-left: 110px;

  font-family: "Larsseit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  letter-spacing: 0.06em;

  color: #22356f;
}

.sixth-wrapper {
  display: block;
}

.sixth__text {
  margin-top: 225px;
  margin-left: 106px;

  width: 770px;

  font-family: "Larsseit";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.01em;

  color: #22356f;
}

.sixth span {
  color: #6cd3e1;
}

.sixth a {
  margin-top: 152px;
  margin-left: 106px;

  font-family: "Larsseit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-decoration: none;

  color: #fab63e;

  transition: color 0.2s linear;
}

.sixth a:hover {
  color: #fdc76a;
  text-decoration-line: underline;
}

/* ---------SEVENTH SECTION---------------------------*/

.seventh {
  margin-top: -4px;
  display: flex;
  background-color: #22356f;
  color: #fff;

  padding-left: 180px;
}

.seventh-wrapper {
  display: block;
}

.seventh-wrapper a:first-child {
  display: block;
  margin-top: 103px;
  color: #fff;
  text-decoration: none;

  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.seventh__title {
  margin-top: 230px;
  
  width: 800px;

  font-family: "Larsseit";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.01em;

  color: #fff;
}

.seventh__text {
  margin-top: 75px;

  width: 579px;

  font-family: "Larsseit";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: -0.005em;
  color: #fff;
}

.seventh-wrapper a:last-child {
  display: block;
  margin-top: 87px;
  color: #fff;
  text-decoration: none;

  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  text-transform: uppercase;

  color: #62D0DF;
}

.seventh__image{
margin-left: auto;
}

/* ---------SEVENTH SECTION---------------------------*/

.eighth{
  display: inline-flex;
}

.eighth-wrapper{
  display: flex;
  padding-top: 98px;
  padding-left: 68px;
}

.eighth__item{
 
  margin-right: 56px;
  width: 240px;
}

.eight__text{
  margin-top: 54px;
}

/* ---------FOOTER---------------------------*/

footer{
  margin-top: -4px;
}

footer>div{
  height: 80px;
  background-color: #62D0DF;
  padding-top: 32px;
}

.footer__text{

  margin-left: 194px;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 9px;
  letter-spacing: -0.006em;
  
  color: #FFFFFF;
}

.footer__text:before{
  content:"\00a9  ";
}