*,a {
    font-family: Larsseit;
    color:#22356F;
}

html,
body {
    height: 100%;
    margin: 0;
}

.container {
    margin: auto;
    padding: 0 179px;
    font-family: Larsseit;
    font-size: 20px;
    line-height: 16px;
}

.flex {
    display: flex;
    align-items: center;
}

/* ---------HEADER--------- */

header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 179px;
    padding-top: 27px;
    z-index:10;
}


.header-wrapper {
    justify-content: space-between;
}

.header__title {
    font-family: LarsseitBold;
    font-size: 24px;
    color: #62D0DF;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 233px;
    font-size: 14px;
}

.navigation__item {
    position: relative;
    text-decoration: none;

}

.navigation__item:hover:after{
    content:"";
    height: 1px;
    width: 100%;
    background-color: #22356F;

    position: absolute;
    top:100%;
    left:0;
    
}

.nav__contact-button {
    border-radius: 50px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #62D0DF;
    border-color: transparent;
    font-family: Larsseit;
    font-weight: 500;
    text-transform: uppercase;
    cursor:pointer;
}

/* ---------MAIN SECTION--------- */

/* ----Right-side---- */

.first {
    display: inline-block;
}

.left-side {
    position: relative;
    background-color: #F4F9E2;
    width: 75vw;
    height: 110vh;
    padding-left:179px;
}

.header__title_positioned{
    position: absolute;
    top: 241px;
}

.headder__appeal{
    position: absolute;
    top:305px;
    /* ????? */
    font-family: Larsseit;
    font-style: 800;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -0.035em;
}

.header__descr{
    position: absolute;
    top:491px;
    width: 469px;
    font-size:24px;
    line-height: 45px;

}

.header__button{
    position: absolute;
    top:715px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 150px;
    height: 50px;
    background-color: #F9B640;
    line-height: 50px;
    color: white;
}

.header__button-descr{
    position: absolute;
    top: 728px;
    left: 367px;
    text-transform: uppercase;
    color: #FAB63E;

}